/* From Uiverse.io by adamgiebl */ 
button {
    font-size: 1vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 1.2em 1.5em;
    border: 0.5vw solid #EF7116;
    border-radius: 0.2vw;
    position: relative;
    box-shadow: 0 2px 1vw rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #EF7116;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    margin-top: 2vw;
    z-index: 0;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #EF7116;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }